.About_inner {
  @media(min-width:1024px) {
    display: flex;
  }
}

.About_image {
  @media(min-width:1024px) {
    width: 1000px;
    margin-right: 80px;
  }
}

.About_image img {
  max-width: 100%;
  margin-bottom: 60px;
}

.About_content h3 {
  color: #000;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 20px;
}

.About_content p {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  margin-bottom: 20px;
}

.About_content li {
  margin-bottom: 15px;
}

.About_content li::before {
  content: "\2713";
  color: #71bc42;
  margin-right: 20px;
}
